{% extends 'base.html.twig' %}

{% block body %}
 <section class="content-main">
	<div class="page_header margin_bottom">
		<h1>{{ cat_item.name }}</h1>
	</div>
	<div class="main-box">
		{% if cat_item.mnemonic=="begovye-dorozhki" %}
		<img class="cat_img" src="/img/cat_ban_beg.jpg" alt="Беговые дорожки" style="margin-top:0;" />
		{% else %}
		<img class="cat_img" src="/img/pix_2.jpg" alt="" style="margin-top:0;" />
		{% endif %}
		{% if cat_item.text %}<p style="text-align:justify;">{{ cat_item.text | raw }}</p>{% endif %}
	</div>
	<div class="catalog-widgets clearfix">
		{% set vars = {'ann_array': ann_array} %}
		{% include '/catalog/inc_ann_array.html.twig' with vars %}
	</div>
	<!--this_ann_array-->{# используется для сравнения - не удалять #}
</section>
{% endblock %}